@import 'theme/variables';

.legend {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.reverse {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.value {
  font-size: 1rem;
  color: $gray;
  padding-left: 0.5em;
}
