@import 'theme/variables';

.grid-container {
  height: 225px;
}

.budget-grid {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  border: 1px solid $gray;
  border-collapse: collapse;
  font-size: 0.8em;

  tr {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  th, td {
    padding: 8px;
    text-align: left;
    overflow: hidden;

    &:first-child {
      padding-left: 2em;
    }

    &:last-child {
      text-align: right;
    }

    &:nth-child(1), &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 60%;
    }
  }

  thead, tfoot {
    background-color: $verylightgray;
  }

  thead {
    border-bottom: 1px solid $gray;

    th:last-child {
      padding-right: 3.5em;
    }
  }

  tbody {
    overflow-y: scroll;
    display: block;

    tr {
      border-bottom: 1px solid $lightgray;
    }

    td {
      vertical-align: top;

      &.neg {
        color: $red;
      }

      &.pos {
        color: $green;
      }

      &:last-child {
        padding-right: 2.5em;
      }
    }
  }

  tfoot {
    height: 40px;
    border-top: 1px solid $gray;
  }
}
