.entryFormRow {
  & {
    padding: 2px !important;
  }

  td {
    display: flex;
    flex-wrap: nowrap;

    input, select {
      flex: 1;
      min-width: 50px;
      height: 100%;
      padding: 0 0.8em;
      font-size: 1.1em;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    button {
      margin-left: 5px;
      text-transform: uppercase;
      width: 45px;
    }

    .amountField {

    }
  }
}
