.DS_STORE
node_modules
static
.module-cache
*.log*
_nogit
build
coverage
*.report.dom.html
/dll
.idea
/.cache-loader
/.vscode


# avoid test failure when donut chart change automatic colors
/app/components/ItemDetails/__tests__/__snapshots__/index-test.js.snap
