// fonts
$font-default: Roboto, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

// colors
$black: #000;
$white: #fff;
$gray: #b1b1b1;
$lightgray: #dadada;
$verylightgray: #f0f0f0;
$darkgray: rgba(0,0,0,0.16);
$red: #eb2a2a;
$green: #189c2d;

// media
$screen-small: 767px;

// misc
$border: 1px solid $lightgray;
