.detail {
  display: flex;
  flex-flow: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading {
  text-align: center;
}

.inflow {
  color: green;
}

.outflow {
  color: red;
}