@import '~containers/App/variables';

.header {
	display: flex;
	margin-bottom: 3em;
}

.nav-link {
	padding: 35px 25px;
	margin: -6px 6px 0;
	border-radius: 6px;
	font-size: 16px;
	color: $gray;
	border: 1px solid $lightgray;
	text-decoration: none;

	&:active, &.selected {
		color: $black;
		text-decoration: underline;
		box-shadow: 0 1px 4px 1px $darkgray;
	}
}
