@import 'theme/variables';

.detailsWrapper {
  display: flex;
  flex-direction: column;

  .buttonWrapper {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-smaller) {
      margin-right: 4rem;
      margin-bottom: 0;
    }

    @media only screen and (min-width: $screen-small) {
      margin-right: 14rem;
    }

    .backBtn {
      width: 100%;
    }
  }

  .itemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $screen-small) {
      align-items: flex-start;
    }
  }

  @media only screen and (min-width: $screen-smaller) {
    flex-direction: row;
  }
}
