@import 'theme/variables';

.stackedChart {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: flex-start;
  flex-flow: wrap;
}

.xAxis {
   font-size: 16px;
   font-family: $font-default;
   font-weight: bold;
   text-anchor: middle;

  .value {
     font-size: 16px;
  }
}
