@import 'theme/variables';

.cellLabel {
  display: none;

  @media only screen and (max-width: $screen-small) {
    display: flex;
    align-items: center;
    flex: 1;
  }
}

.row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .03);
}

.cellContent {
  flex: 1;
}

.neg {
  color: $red;
}

.pos {
  color: $green;
}
