@import 'theme/variables';

tr {
  cursor: pointer;

  &:hover {
    background: $verylightgray;
  }
}

.navLink {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.cellLabel {
  display: none;

  @media only screen and (max-width: $screen-small) {
    display: flex;
    align-items: center;
    flex: 1;
  }
}

.cellContent {
  flex: 1;
}

.neg {
  color: $red;
}

.pos {
  color: $green;
}
