.itemHeader {
  text-align: center;
}
.green {
  color: green;
}
.red {
  color: red;
}
.metaText {
  display: inline;
  margin: 10px;
}
.chart {
  margin-top: 50px;
}
.backButton {
  max-width: 100px;
}