.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 h2 {
  flex: 1;
  text-align: center;
}

.negative  {
  color: red;
}

.positive {
  color: green;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 3px;
  background-color: red;
  border: solid 2px #c2185b;
  border-radius: 5px;
  color: #fff;
  width: 120px;
}
