@import 'theme/variables';

.chartContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1, h2 {
        margin: 0;
    }
}

.title {
    text-transform: capitalize;
    text-align: center;

}

.neg {
    color: $red;
}
.pos {
    color: $green;
}