table {
    border-collapse: collapse;
    padding: 3px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

td {
    min-width: 150px;
}

th {
    text-align: left;
    border-bottom: 1px solid #ececec;
}

td, th {
    padding: 3px;
}

td.flex {
    width: 100%;
}

td.align-right, th.align-right {
    text-align: right;
}

td:last-child, th.last-child {
    background-color: rgba(210,210,210,0.2);
}

tbody > tr:hover {
    background-color: rgba(150,190,190,0.2);
}

tbody tr:last-child td {
    border-bottom: 1px solid #ececec;
}

tfoot input {
    width: 98%;
}

tfoot {
    font-weight: bold;
}
