@import 'variables';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 3em;
  font-family: $font-default;
  font-size: 16px;
}

.logo {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 3em;
  top: 10px;
}