@import 'theme/variables';

html,
body {
  -webkit-overflow-scrolling: touch;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.8em;
  font-family: $font-default;
  font-size: 16px;
}

.logo {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 3em;
  top: 10px;
}

@media only screen and (min-width: 48em) {
  body {
    padding: 0 3em;
  }
}
